@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background: hsl(212, 45%, 89%);
  text-align: center;
  font-family: "Outfit", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  background: hsl(0, 0%, 100%);
  max-width: 250px;
  border-radius: 20px;
  margin-top: 20px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img {
  display: block;
  max-width: 220px;
  height: 100%;

  border-radius: 10px;
}
.text {
  color: hsl(218, 44%, 22%);
  font-weight: 750;
  font-size: 18px;
  padding-top: 25px;
}
p {
  padding: 20px 0px;
  font-size: 14px;
  font-weight: 500;
  color: hsl(220, 15%, 55%);
}
.attribution {
  padding-top: 10px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
